/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-interface {
    
    background-color: #171810;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-image: url('img/edificios.jpg');
    background-size: 100%;
    background-color: #171810;
    padding: 10px;
    
}

#container-logo {
   margin-top: 10px;
    display: flex;
    align-items: center;
}

.logo-left{
    margin-top: -10px;
    
}
#menu {
    background-color: #92836c;
}

.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu-items li {
    margin: 0;
    padding: 10px 20px;
}

.menu-items a {
    color: white;
    text-decoration: none;
}

/* Estilos para dispositivos móveis */
.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 24px;
    background-color: #92836c;
    text-align: center;
}

@media (max-width: 768px) {
    .menu-items {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .menu-items.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

h1 {
    color: #92836c;
    margin: 15px 0px 0px 15px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    text-align: justify;
    color: aliceblue;
    margin: 18px;
}

div#container-logo {
    margin-top: 10px;
}

#header #img-logo {
    width: 370px;
    height: 180px;
    margin-left: 10px;
    background-size: cover;
}

section#section {
    width: 100%;
    background-color: #171810;
    min-height: 200px;
}

div#container-colunas {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

/* CSS para centralizar imagens dentro das divs */
div#esquerda, div#meio, div#direita {
    flex: 1;
    background-color: #2b2b2b;
    padding: 10px;
    color: #92836c;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align: center; /* Centraliza o texto */
}

div#esquerda img, div#meio img, div#direita img {
    max-width: 100%; /* Impede que a imagem ultrapasse o tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 10px; /* Espaçamento inferior para separar imagens de texto */
}

#img-vini {
    width: 100%;
    height: auto;
    padding: 10px;
}

footer#footer {
    background-color: #92836c;
    height: 30px;
    margin-top: 30px;
    font-family: Edwardian Script ITC, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

footer#footer {
    background: #92836c;
    text-align: center;
    padding: 20px;
}

#txt-footer {
    margin-top: 15px;
    text-decoration: none;
}

footer .font-footer1 {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.whats {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
}

#contatos{
    text-decoration: none;
}